/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px에서 1600px 사이
*/
@media (min-width: 1601px) and (max-width: 2000px) {
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px에서 1600px 사이
*/
@media (min-width: 1281px) and (max-width: 1600px) {
    /* 날짜 선택 div */
    .contents > .chooseDate {
        margin: 0 auto;
        width: 60%;
        height: 10%;
        line-height: 52px;
        /*background: crimson;*/
        position: relative;
    }

    /* 날짜 선택 ul */
    .contents > .chooseDate > ul {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
    }

    /* 날짜 선택 li */
    .contents > .chooseDate > ul > li {
        height: 50%;
        background-color: antiquewhite;
        font: bold 16px "malgun gothic";
        display: inline-block;
        text-align: center;
    }

    /* 캠프 선택 div */
    .contents > .camp {
        margin: 0 auto;
        width: 60%;
        height: 45%;
        line-height: 52px;
        position: relative;
        background: white;
    }
    /* 캠프 제목 div */
    .contents > .camp > .campSubject {
        position: absolute;
        background: darkorchid;
    }

    /* 캠프 내용 div */
    .contents > .camp > .campContent {
        position: absolute;
        background: cadetblue;
    }

    /* 펜션 선택 div */
    .contents > .pension {
        margin: 0 auto;
        width: 60%;
        height: 45%;
        line-height: 52px;
        position: relative;
        background: steelblue;
    }
    /* 펜션 제목 div */
    .contents > .pension > .pensionSubject {
        position: absolute;
        background: darkorchid;
    }

    /* 펜션 내용 div */
    .contents > .pension > .pensionContent > span:hover{
        background: silver;
        cursor: pointer;
    }
    .contents > .pension > .pensionContent > span {
        margin: 0 auto;
        background: cadetblue;
    }


    /**************************************/
    /* 캠프 선택 -> 예약정보 */
    .contents > .campReservation  {
        float: left;
        width: 50%;
        height: 100%;
        line-height: 52px;
        position: relative;
        background: blue;
    }
    /* 펜션 선택 -> 예약정보 */
    .contents > .pensionReservation  {
        float: left;
        width: 50%;
        height: 100%;
        line-height: 52px;
        position: relative;
        background: blue;
    }

    /* 캠프 제목 div */
    .contents > .reservationInfoImage {
        position: absolute;
        background: darkorchid;
    }

    /* 캠프 내용 div */
    .contents > .infoReservation {
        float: right;
        width: 50%;
        height: 100%;
        line-height: 52px;
        position: relative;
        background: red;
    }
}


/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}


